{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './maths/style.css' %}"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap" rel="stylesheet">
    <title>Sleep Analysis</title>
</head>
<body>
    <section class="Navbar">
        <div class="logo">
            <h1>SleepAnalysis</h1>
        </div>
        <div class="navbuttons">
            <button class="btn btn1">Analyze</button>
            <button class="btn btn2">Compare</button>
        </div>
    </section>

    <section class="section-2">
        <h2 class="sleep-Analysis">Sleep Analysis in Drosophilla</h2>
        <p class="sleep-analysis-para">Sleep is a natural, easily reversible, periodic state of many living things that are marked by the 
            absence of wakefulness. While sleep has often been studied in mammals using neural patterns, 
            behavioral criteria are typically used for a wide range of organisms. These behavioral criteria </p>
        <button class="sleep-analysis-button">Read more</button>
    </section>

    <section class="section-3">
        <div class="section3-head">
            <h3 class="heading-3">Information</h3>
        </div>
        <div class="section3-para">
            <div class="section3-img">
                
            </div>
            <p class="para-3"> Sleep is a natural, easily reversible, periodic state of many living things that are marked by the 
                absence of wakefulness. While sleep has often been studied in mammals using neural patterns, 
                behavioral criteria are typically used for a wide range of organisms. These behavioral criteria 
                include quiescence that is reversible upon stimulation, decreased sensory responsiveness, and 
                rebound sleep following sleep deprivation. Every closely examined animal including 
                invertebrates such as mollusks, cuttlefish, octopuses, several species of insects, and even a 
                jellyfish, which lacks a centralized brain has shown to exhibit sleep based on these criteria. 
                To better understand sleep and its characteristics, an invertebrate Drosophila melanogaster, 
                commonly known as the fruit fly was used as a model organism due to its high genetic 
                resemblance with human beings.
                Sleep in Drosophila is associated with prolonged physical immobility, hence, measuring their 
                locomotor behavior is the most practical technique to record sleep. In our experiment, a signal 
                is collected when a single fly breaks an infrared light beam transecting the midline of a small 
                recording chamber, which is a standard method for measuring circadian rhythms.
                Measurement of infrared beam split.
                Individual flies are inserted in glass tubes and secured on one end with food and on the other 
                end with cotton. A beam of infrared light passes through the tube's midpoint. A computer is 
                connected to a collector, which keeps track of how many times the fly breaches the infrared 
                beam, this gives us the raw data. It helps determine whether there is too much or too little 
                moment. The number acquired for each minute in the raw data corresponds to how many times 
                the fly crosses the beam. The value '0' denotes inactivity.</p>
        </div>
    </section>

    <section class="section-4">
        
        <div class="section-4-body">
            <button class="sec-4-btn1">ANALYZE</button>
            <button class="sec-4-btn2">COMPARE</button>
        </div>
    </section>

    <!-- <section class="section-5">
            <div class="section-5-head">
                <h5>Technologies Used</h5>
            </div>
            <div class="section-5-body">
                <div class="section-5-basic section-5-body1">
                    <div class="section-5-body1-img">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/2560px-Pandas_logo.svg.png" alt="">
                    </div>
                    
                </div>
                <div class="section-5-basic section-5-body2">
                    <div class="section-5-body2-img">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1869px-Python-logo-notext.svg.png" alt="">
                    </div>
                    
                </div>
                <div class="section-5-basic section-5-body3">
                    <div class="section-5-body3-img">
                        <img class="invert" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Django_logo.svg/2560px-Django_logo.svg.png" alt="">
                    </div>
                    
                </div>
            </div>
    </section>

    <section class="section-6">
        <div class="section-6-head">
            Team
        </div>
        <div class="section-6-body">
            <div class="prakimg">
                <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFN8LjER53raw/profile-displayphoto-shrink_400_400/0/1633017060156?e=1669852800&v=beta&t=UWqF5FcjkJ7o0eJu5GMuMRKxJroX3nNJwclgaV4Dkv0" alt="">
            </div>
            <div class="name">Prakruthi</div>
        </div>
    </section> -->

    <footer>CopyRights Reserved &copy;</footer>
</body>
<script src="{% static './maths/script.js' %}"></script>
</html>